@import 'variables';

.app-header {
    width: 100%;
    background-color: #2b323c;

    display: flex;
    flex-flow: row nowrap;
    column-gap: 1rem;
    align-items: center;
    box-shadow: 2px 2px 8px 4px #ccc;

    &__branding {
        height: 100%;
        padding: 1vh 2vh;
        background-color: $body-bg
    }

    &__nav {
        font-size: 1.4rem;
    }

    &__routes {
        list-style: none;
        display: flex;
        flex-flow: row nowrap;
        column-gap: 1vw;
    }

    &__link {
        color: $body-bg;
        font-weight: 700;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
}
