.home {
    &__header {
        width: 80vw;
        margin-top: 2vh;
        display: flex;
        flex-flow: row wrap;
    }

    &__header, &__summary, &__devices {
        width: 80vw;
        max-width: 960px;
        margin-left: auto;
        margin-right: auto;
    }

    &__summary {
        margin-top: 1vh;
        font-size: 1.1rem;
    }

    &__summary &__blocks &__block {
        margin-top: 1vh;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around;
    }

    &__drive-count {
        text-align: center;
        font-size: 1.4rem;
    }

    &__status {
        text-align: center;
        margin-top: 2vh;
    }

    &__erase {
        grid-area: erase;
    }

    &__block-size {
        grid-area: block;
    }

    &__convert {
        grid-area: convert;
    }
    
    &__overview {
        margin-top: 2vh;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-items: center;
        row-gap: 1vh;

        @media screen and (max-width: 480px) {
            grid-template-columns: 1fr 1fr;
        }
    }

    &__devices {
        margin-top: 1vh;
        display: flex;
        flex-flow: column;
        row-gap: 1vh;
    }

    &__actions {
        margin-left: auto;
    }

    &__chip {
        background-color: #e2e5e7;
        border-radius: 1rem;
        padding: 4px 8px;
    }

    &__button {
        background-color: #fff;
        border: none;
        box-shadow: 2px 2px 4px 2px #eee;
        border-radius: 1rem;
        padding: 8px 16px;
        cursor: pointer;
        font-size: 1rem;
        transition: all 0.2s ease-in-out;

        &:hover {
            background-color: #eeeeee00;
        }

        &:active {
            transform: scale(0.9);
        }

        @media screen and (max-width: 480px) {
            .home__button-label {
                display: none;
            }
        }
    }

    &-icon {
        margin-right: 4px;
    }

    &__empty-info {
        padding: 1rem;
        width: 100%;
        margin: 0px auto 0px auto;
        text-align: center;
        background-color: #fff;
        border-radius: 0.5rem;
        box-shadow: 2px 2px 4px 2px #eeeeeecc;
    }
}
