// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
// @import '~bootstrap/scss/bootstrap';
@import 'header';
@import 'index';
@import './devices/index';
@import './checkin/index';
@import './confirmation_modal/index';

*, *:before, *:after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body, html {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: "Nunito", Helvetica, sans-serif;
    font-size: 16px;
    background-color: $body-bg;
}

body {
    display: flex;
    flex-flow: column;
}

.app-content {
    flex-grow: 1;
    padding-top: 4vh;
}

.app-footer {
    padding: 1vh 3vw 2vh 3vw;
    margin-top: auto;
    text-align: center;
}
