.checkin {
    padding-top: 4vh;
    width: 80%;
    margin: 0 auto 2vh auto;

    &__form {
        display: flex;
        flex-flow: column;
        align-items: flex-start;
        row-gap: 1vh;

        &-clear {
            margin-right: 1vw;
            background-color: #fff;
        }

        &-submit {
            background-color: #295ebf;
            color: #eee;
        }
    }

    &__button {
        border: none;
        box-shadow: 2px 2px 4px 2px #ccccccee;
        border-radius: 4px;
        padding: 4px 8px;
        font-size: 1rem;
        cursor: pointer;
        transition: all 0.2s ease-in-out;

        &:hover {
            transform: scale(1.1);
        }
    }
}
