.device {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 2px 2px 4px 2px #eee;
    padding: 1vh 1vw;

    display: grid;
    grid-template-areas: "grade info actions";
    grid-template-columns: 1fr 12fr 12fr;
    column-gap: 1vw;

    &__grade {
        grid-area: grade;
        
        &-a, &-b, &-c, &-none {
            text-align: center;
            display: flex;
            flex-flow: column;
            height: 100%;
            border-radius: 4px;

            & p, & i {
                margin: auto 0;
            }
        }

        &-a {
            background-color: #a8f5a8;
        }

        &-b {
            background-color: #f7f779;
        }

        &-c {
            background-color: #ffd382;
        }

        &-none {
            background-color: #999;
        }
    }

    &__info {
        grid-area: info;
    }

    &__status {
        font-weight: 600;
        font-style: normal;
    }

    &__actions {
        grid-area: actions;
        text-align: end;
        display: flex;
        flex-flow: column;
        row-gap: 0.5vh;
        align-items: flex-end;
        justify-content: space-between;
    }

    &__button {
        border: 1px solid #aaa;
        background: none;
        cursor: pointer;
        padding: 2px 4px;
        border-radius: 8px;
        font-size: 0.9rem;

        &:hover {
            background-color: #333;
            color: #eee;
        }
    }
}

@media screen and (max-width: 480px) {
    .device {
        grid-template-areas:
            "grade info"
            "grade actions";
        grid-template-columns: 1fr 4fr;

        &__actions {
            flex-flow: row nowrap;
            margin-top: 2vh;
            column-gap: 2vw;
        }
    }
}
