.confirmation-modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: #00000099;

    &__modal {
        background-color: #eee;
        width: 30vw;
        height: 20vh;
        margin: auto;
        position: relative;
        top: 50%;
        transform: translateY(-10vh);
        border-radius: 1rem;

        display: flex;
        flex-flow: column;

        @media screen and (max-width: 480px) {
            width: 80vw;
            height: 30vh;
        }
    }

    &__header, &__body, &__footer {
        padding: 8px 16px;
    }

    &__body {
        flex-grow: 2;
    }

    &__prompt {
        font-size: 1.2rem;
        font-weight: 600;
    }

    &__message {
        margin-top: 8px;
        font-size: 1rem;
    }

    &__footer {
        text-align: end;
        flex-grow: 0;
        border-top: 1px solid #ccc;
    }

    &__cancel, &__confirm {
        font-size: 1.2rem;
        border: none;
        padding: 4px 8px;
        border-radius: 4px;
        cursor: pointer;
    }
    
    &__cancel {
        background-color: #ddd;
        border: none;
        font-size: 1.2rem;
    }

    &__confirm {
        background-color: #2b347b;
        color: #eee;
    }
}
